name: NixOS Build
on:
    workflow_dispatch:
    schedule:
        - cron: 0 0 * * *
env:
    FORCE_COLOR: true
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions:
    contents: write

jobs:
    Build:
        name: Build Equicord
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v3

            - name: Use Node.js 20
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build web
              run: pnpm buildWebStandalone

            - name: Build
              run: pnpm buildStandalone

            - name: Generate plugin lists
              run: |
                pnpm generatePluginJson dist/plugins.json
                pnpm generateEquicordPluginJson dist/equicordplugins.json
                pnpm generateKernixcordPluginJson dist/kernixcordplugins.json
                pnpm generateVencordPluginJson dist/vencordplugins.json
                pnpm generateDevsList dist/devs.json

            - name: Collect files to be released
              run: |
                  cd dist
                  mkdir -p release
                  # Copy browser artifacts if present
                  { [ -d browser ] && compgen -G "browser/browser.*" > /dev/null && cp browser/browser.* release; } || true
                  # Copy userscript and its legal notice if present
                  [ -f Vencord.user.js ] && cp Vencord.user.js release || true
                  [ -f Vencord.user.js.LEGAL.txt ] && cp Vencord.user.js.LEGAL.txt release || true

                  # Copy plugin data JSONs, extension zips and desktop/vesktop ASARs if present
                  compgen -G "*.{json,zip,asar}" > /dev/null && cp *.{json,zip,asar} release || true

                  # Legacy un-asared files
                  { [ -d desktop ] && compgen -G "desktop/*" > /dev/null && cp desktop/* release; } || true
                  { [ -d equibop ] && compgen -G "equibop/*" > /dev/null && for file in equibop/*; do
                    filename=$(basename "$file")
                    cp "$file" "release/equibop${filename^}"
                  done; } || true

                  find release -size 0 -delete
                  rm -f release/package.json
                  rm -f release/*.map

            - name: Get current date
              id: date
              run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

            - name: Upload Equicord Stable
              run: |
                  gh release create ${{ steps.date.outputs.date }} --latest=false
                  gh release upload ${{ steps.date.outputs.date }} --clobber dist/release/*
